     <div class="container" ng-controller="IndexController" >
       <div class="container main-box" ng-if="!isloggedin">
          <div class="header-box">
              <div class="logo-box">
                  <img src="images/bar-code.jpg" alt="machigaeru">
              </div>
              
              <div class="logo-content-box">
                  <h1 class="logo-title">Machigaeru Web</h1>
                  <h3 class="logo-subtitle">Use Machigaeru on your phone to scan the code</h3>
                  <form> <input type="text" ng-model="phno" name="phno" /> <input type="button" value="Login" ng-click="logintosite(phno)"/>
                  <p class="logo-text1"> <input type="checkbox" checked/>Keep me signed in</p>
                  <p class="logo-text2">To reduce data usage, connect your phone to Wi-Fi</p>
              </div> 
              <div class="clearfix"></div>
          </div>
          
          <div class="home-banner">
            <img src="images/home-banner.png" alt="home banner">
          </div>
        </div> <!-- .content -->
        <div data-ng-view> </div>
      </div>
    <!-- Bootstrap core JavaScript
      ================================================== -->

      <script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
      <script type="text/javascript" src="js/lib/angular-cookies/angular-cookies.min.js"></script>
      <script type="text/javascript" src="js/lib/angular-resource/angular-resource.min.js"></script>
      <script type="text/javascript" src="js/lib/angular-ui-router/release/angular-ui-router.js"></script>
      <script type="text/javascript" src="js/lib/angular-route/angular-route.js"></script>

      <!-- Angular UI -->
      <script type="text/javascript" src="js/lib/angular-bootstrap/ui-bootstrap.js"></script>
      <script type="text/javascript" src="js/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script type="text/javascript" src="/js/dependencies/sails.io.js"></script>

      <!-- Application Init -->
      <script type="text/javascript" src="scripts/app.js"></script>
      <script type="text/javascript" src="scripts/config.js"></script>
      <script type="text/javascript" src="scripts/directives.js"></script>
      <script type="text/javascript" src="scripts/filters.js"></script>

      <script type="text/javascript" src="scripts/controllers/index.js"></script>

      <script type="text/javascript" src="scripts/init.js"></script>