    <div class="container message-main-box">
      <div class="chat-list-btn">
        <span>Menu</span><img src="images/reponsive-nav.png" alt="main navigation">
      </div>
      
      <div class="message-list-box">
              
        <div class="user-admin-box">
          <div class="user-admin-profile">
            <img src="images/myprofile-pic.jpg" alt="User Profile">                
          </div>
                  
          <ul class="user-admin-icon-group">
            <li><a href="#"><img src="images/message-icon.png" alt="message icon"></a></li>
            <li><a href="#"><img src="images/message-nav-icon.png" alt="navigation icon"></a></li>
          </ul>
          <div class="clearfix"></div>               
        </div>
              
        <div class="notification-box">
                  
          <div class="notification-icon-lt">
            <img src="images/bell-icon.png" alt="notification icon">
          </div>
                  
          <div class="notification-content-rt">
            <h4>Get Notified of New massage</h4>
            <p>Turn on desktop notifications</p>
          </div>
          <div class="clearfix"></div> 
        </div>
              
        <div class="search-box">
          <input type="text" placeholder="Search or start new chat"/>
          <button type="submit" class="search-btn"><img src="images/search-icon.png" alt="search icon"></button>
        </div>
               
        <div class="user-message-list-group">
               
          <div class="user-message-row">
            
            <div class="user-profile-pic">
              <img src="images/profile-pic1.jpg" alt="user prifile picture">
            </div>
                      
            <div class="user-profile-content">
              <h3><a href="/#!/chat">Adam Smith</a></h3>
              <p>kikme.adam</p>
            </div>
                      
            <div class="user-profile-time">
              <p class="msg-time">11:38</p>
            </div>
            <div class="clearfix"></div>                    
          </div>
                  
          <div class="user-message-row">
                      
            <div class="user-profile-pic">
              <img src="images/profile-pic2.jpg" alt="user prifile picture">
            </div>
                      
            <div class="user-profile-content">
              <h3>Brandon Thomas</h3>
              <p>B_Thomas1261</p>
            </div>
                      
            <div class="user-profile-time">
              <p class="msg-time">09:22</p>
            </div>
            <div class="clearfix"></div>                    
          </div>
                  
          <div class="clearfix"></div>
        </div>
               
        <div class="user-btn-group">
          <ul>
            <li><a href="#">Recent</a></li>
            <li><a href="#">Cantacts</a></li>
          </ul>
          <div class="clearfix"></div>      
        </div>            
         
      </div>       

      <div data-ng-view>

      </div> <!-- .content -->
                  
    </div>
    <!-- Bootstrap core JavaScript
      ================================================== -->

      <script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
      <script type="text/javascript" src="js/lib/angular-cookies/angular-cookies.min.js"></script>
      <script type="text/javascript" src="js/lib/angular-resource/angular-resource.min.js"></script>
      <script type="text/javascript" src="js/lib/angular-ui-router/release/angular-ui-router.js"></script>
      <script type="text/javascript" src="js/lib/angular-route/angular-route.js"></script>

      <!-- Angular UI -->
      <script type="text/javascript" src="js/lib/angular-bootstrap/ui-bootstrap.js"></script>
      <script type="text/javascript" src="js/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

      <!-- Application Init -->
      <script type="text/javascript" src="scripts/app.js"></script>
      <script type="text/javascript" src="scripts/config.js"></script>
      <script type="text/javascript" src="scripts/directives.js"></script>
      <script type="text/javascript" src="scripts/filters.js"></script>

      <script type="text/javascript" src="scripts/controllers/index.js"></script>

      <script type="text/javascript" src="scripts/init.js"></script>