
  
<div class="message-group-box">     
  <div class="showcase-banner">
    <img src="images/message-img.jpg" alt="sowcase mobile">             
  </div>   

  <div class="showcase-banner-content">
    <h1>Keep your phone connected</h1>
    <p>Machigaeru web connects to your phone to sync messages. To reduce data usage, connect your phone to Wi-Fi.</p>
  </div>
</div>
