
      
        <div class="message-chat-box">
        
        	<div class="chat-header">
            		
                    <div class="chat-profile-group">
                    	<div class="chat-profile">
                        	<img src="images/profile-pic3.jpg" alt="chat profile picture">
                        </div>
                        <div class="chat-user">
                        	<h3>Alexis Miller</h3>
                        </div>
                    </div>
                    
                    <div class="chat-navigation">
                    	<ul>
                        	<li><a href="#"><img src="images/attach-icon.png" alt="attach icon"></a></li>
                            <li><a href="#"><img src="images/message-nav-icon.png" alt="nav icon"></a></li>
                        </ul>                     
                    </div>
                    <div class="clearfix"></div>                
            </div>
            
            <div class="chat-body">
            
            	<div class="chat-box1">
                	<div class="arrow-up"></div>
                	Check out the view from our hotel! Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                </div>
                
                <div class="chat-box1">
                	<div class="arrow-up"></div>
                	<img src="images/video-message.jpg" alt="video">
                </div>
            		
                <div class="chat-box2">
                	Wow looks amazing! You should should share in it our group!
                    <span>11:40</span>
                    <div class="arrow-down"></div>
                </div> 
                
                   <div class="clearfix"></div> 
            </div>
            
            
            <div class="chat-footer">
            
            	<div class="footer-chat-textarea">                	
                    <form action="text.php" method="post">
                    	<input type="text" placeholder="Type...">
	                    <div class="smiley-box"><img src="images/smiley-icon.png" alt="smiley"></div>
                    </form>                    
                </div>
            	
              <ul class="footer-navigation">
                	<li><a href="#"><img src="images/camera-icon.png" alt="camera icon"></a></li>
                    <li><a href="#"><img src="images/voice-icon.png" alt="voice icon"></a></li>
                    <li><a href="#"><img src="images/video-icon.png" alt="video icon"></a></li>
              </ul>
            
            </div>
       
       </div>
